body{
    background-color: #00ff00;
}

.body_divs{
    background-color: #171a21;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.menu_div {
    background-color: #1b2838;
    width: 45%;
    height: 15%;
    position: absolute;
    top:2.5%;
    left: 52.5%;
    border-radius: 1.5vw;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.menu_div button{
    background-color: #2a475e;
    width: 15%;
    height: 40%;
    position: relative;
    top: 30%;
    float: left;
    border-radius: 2vw;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;   
    margin-left: 4.1%;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.2vw;
    color: #c7d5e0;
}

.menu_div button:hover{
    background-color: #375d7b;
}

.body_divs .game_display_right{
    background-color: #1b2838;
    width: 45%;
    height: 95%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.body_divs .Log_in_center{
    background-color: #1b2838;
    width: 30%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 35%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.body_divs .Log_in_center .button_box{
    background-color: #ffffff00;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 85%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.body_divs .Log_in_center .button_box button{
    background-color: #2a475e;
    width: 45%;
    height: 80%;
    position: relative;
    top: 10%;
    float: left;
    border-radius: 2vw;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;   
    margin-left: 3.3%;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.2vw;
    color: #c7d5e0;
}

.body_divs .Log_in_center .button_box button:hover{
    background-color: #375d7b;
}

.body_divs .Log_in_center input{
    background-color: #2a475e;
    width: 90%;
    height: 15%;
    position: relative;
    top: 0%;
    left: 5%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    margin-top: 5%;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.2vw;
    color: #c7d5e0;
}

.body_divs .Log_in_center .form_button{
    background-color: #ffffff00;
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.game_display_right .game_box{
    background-color: #ffffff00;
    width: 100%;
    height: 15%;
    position: relative;
    top: 0%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    margin-top: 4.16%;
}

.game_display_right .game_box img{
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.game_display_right .game_box .text_box{
    background-color: #ffffff00;
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 35%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.5vw;
    color: #c7d5e0;
    text-align: left;
}

.game_display_right .pages{
    background-color: #ffffff00;
    width: 50%;
    height: 5%;
    position: absolute;
    top: 95%;
    left: 25%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.game_display_right .pages .left{
    background-color: #2a475e;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 15vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.5vw;
    color: #c7d5e0;
}

.game_display_right .pages .left:hover{
    background-color: #375d7b;
}

.game_display_right .pages .right{
    background-color: #2a475e;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 75%;
    border-radius: 15vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.5vw;
    color: #c7d5e0;
}

.game_display_right .pages .right:hover{
    background-color: #375d7b;
}

.game_display_right .pages .mid{
    background-color: #ffffff00;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 25%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.2vw;
    color: #c7d5e0;
}

.game_detail_info_top{
    background-color: #2a475e;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.game_detail_info_top .title{
    background-color: #ffffff00;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 40%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.5vw;
    color: #c7d5e0;
    text-align: left;
}

.game_detail_info_bottom{
    background-color: #ffffff00;
    width: 90%;
    height: 75%;
    position: absolute;
    top: 25%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.3vw;
    color: #c7d5e0;
    text-align: left;
}

.game_detail_info_top img{
    background-color: #ffffff00;
    width: 30%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.gamme_detail_info_grafical{
    background-color: #1b2838;
    width: 45%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 52.5%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.gamme_detail_info_grafical .chart{
    background-color: #ffffff00;
    width: 50%;
    height: 50%;
    position: relative;
    float: left;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.personal_game_info{
    background-color: #1b2838;
    width: 45%;
    height: 25%;
    position: absolute;
    top: 72.5%;
    left: 52.5%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: auto;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-weight: 500;
    font-size: 1.2vw;
    color: #c7d5e0;
    text-align: center;
}


.personal_game_info .information_false{
    background-color: #ffffff00;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
}

.personal_game_info .information_true{
    background-color: #ffffff00;
    width: 100%;
    height: 40%;
    position: relative;
    top: 0%;
    left: 0%;
    float: left;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    margin-bottom: 4%;
    font-weight: 500;
    font-size: 1.2vw;
    color: #c7d5e0;
    text-align: left;
}

.compare_div_left{
    background-color: #1b2838;
    width: 45%;
    height: 77.5%;
    position: absolute;
    top: 20%;
    left: 2.5%;
    float: left;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.compare_div_right{
    background-color: #1b2838;
    width: 45%;
    height: 77.5%;
    position: absolute;
    top: 20%;
    left: 52.5%;
    float: left;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.text_compare{
    background-color: #ffffff00;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.5vw;
    color: #c7d5e0;
    text-align: left;
}

.account_main_div{
    background-color: #1b2838;
    width: 95%;
    height: 77.5%;
    position: absolute;
    top: 20%;
    left: 2.5%;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.account_title{
    background-color: #1b2838;
    width: 35%;
    height: 15%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    padding-left: 2%;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 1.5vw;
    color: #c7d5e0;
    text-align: left;
}

.players_title{
    background-color: #1b2838;
    width: 90%;
    height: 15%;
    position: absolute;
    top: 2.5%;
    left: 5%;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    padding-left: 2%;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
}

.friends_info{
    background-color: #2a475e;
    width: 100%;
    height: 20%;
    position: relative;
    top: 17%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    margin-top: 5%;
}

.friends_info img{
    background-color: #ffffff00;
    height: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.friends_info .button{
    background-color: #ffffff00;
    height: 80%;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: left;
}

.player_display_right{
    background-color: #1b2838;
    width: 45%;
    height: 95%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: auto;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.player_display_left{
    background-color: #1b2838;
    width: 45%;
    height: 77.5%;
    position: absolute;
    top: 20%;
    left: 52.5%;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: auto;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.player_display_left_text{
    background-color: #ffffff00;
    width: 90%;
    height: 45%;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: left;
}

.player_display_left_games{
    background-color: #1b2838;
    width: 100%;
    height: 20%;
    position: relative;
    top: 45%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: left;
}

.player_display_left_games img{
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.player_display_left_games .button{
    background-color: #ffffff00;
    height: 80%;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: left;
}

.mygames{
    background-color: #ffffff00;
    height: 90%;
    width: 45%;
    position: absolute;
    top: 5%;
    left: 2.5%;
    border-radius: none;
    z-index: 1;
    overflow: auto;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.mygames .button{
    background-color: #ffffff00;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
}

.mygames .games{
    background-color: #ffffff00;
    height: 20%;
    width: 100%;
    position: relative;
    top: 5%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    margin-top: 5%;
}

.mygames .games img{
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.mygames .games .button{
    background-color: #ffffff00;
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0%;
    left: 35%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: left;
}

.color_button{
    background-color: #1b2838;
    height: 15%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 2.5%;
    left: 40%;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
}

.color_button:hover {
    background-color: #2a475e;
}

.form{
    background-color: #2a475e;
    height: 90%;
    width: 45%;
    position: absolute;
    top: 5%;
    left: 52.5%;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
}

.textarea {
    resize:none;
    background-color: #ffffff00;
    height: 75%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: center;
}

.textarea::placeholder{
    color: #1b2838;
}

.label {
    background-color: #ffffff00;
    height: 10%;
    width: 90%;
    position: absolute;
    top: 0%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    text-align: left;
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: center;
}

.submit {
    background-color: #375d7b;
    position:absolute;
    height: 10%;
    width: 50%;
    top: 85%;
    left: 25%;
    z-index: 1;
    border-radius: 2vw;
    overflow: hidden;
    border: none;
    outline: none;
    margin: 0px;
    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 2vw;
    color: #c7d5e0;
    text-align: center;
}